.uv-cache/
__pycache__/
*.py[cod]
.env

dagster-project/.venv/
dagster-project/.dagster-home/
dagster-project/.tmp_dagster_home_*/
dagster-project/compute_logs/
dagster-project/history/
dagster-project/**/*.db
dagster-project/**/*.pid
dagster-project/src/**/__pycache__/

delta-lake/
docker-images/postgres/*.tar

datasource/nyc-taxi/*.parquet
datasource/nyc-taxi/*.csv
!datasource/nyc-taxi/.gitignore

predicate_output/**
!predicate_output/.gitignore

delta_log_output/**
!delta_log_output/.gitignore
